AI-Powered Task Description Improver.json
{
  "name": "AI-Powered Task Description Improver",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -304
      ],
      "id": "723c061f-4f71-4fd8-b8dc-31efa94e08f5",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "783c6bd1-a095-48e8-91f7-d5094879130c",
              "name": "task",
              "value": "={{ $json.Task }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        -400
      ],
      "id": "e0ed8793-2e14-4838-8494-5ca52031d1cf",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1P6O1MMhCLAFCdlbOFwhRDvYpLoosI2DHRhGnAygsZB8",
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6O1MMhCLAFCdlbOFwhRDvYpLoosI2DHRhGnAygsZB8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6O1MMhCLAFCdlbOFwhRDvYpLoosI2DHRhGnAygsZB8/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -16,
        -304
      ],
      "id": "9945a701-7980-4cee-9dd0-99bfd9118090",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7rHfcKJO21eyEjJW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=Rewrite the following task in a clear, professional, actionable way:\n{{$json.task}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        656,
        -400
      ],
      "id": "6143d84e-26ae-436c-bb90-123765a1ac50",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "dG1GoPZwCBTAXHVA",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1P6O1MMhCLAFCdlbOFwhRDvYpLoosI2DHRhGnAygsZB8",
          "mode": "list",
          "cachedResultName": "tasks",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6O1MMhCLAFCdlbOFwhRDvYpLoosI2DHRhGnAygsZB8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1P6O1MMhCLAFCdlbOFwhRDvYpLoosI2DHRhGnAygsZB8/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Task": "={{ $('Edit Fields').item.json.task }}",
            "Imorved Task": "={{ $json.output[0].content[0].text }}",
            "Status": "Improved"
          },
          "matchingColumns": [
            "Task"
          ],
          "schema": [
            {
              "id": "Task",
              "displayName": "Task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Imorved Task",
              "displayName": "Imorved Task",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        -592
      ],
      "id": "a28a4be0-8c60-43f4-af3d-d5bf49b147ad",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "7rHfcKJO21eyEjJW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f21caae1-4848-4675-8182-f52f4cb03ec8",
              "leftValue": "={{ $json.Task }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        -304
      ],
      "id": "50cc6d1a-381f-40a8-941f-13a413809b8c",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b79a6c70-1971-41a8-a5f0-9965f567368a",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1232,
        -496
      ],
      "id": "41c2bc30-da63-4514-9cdc-e93084cc163f",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cda6d2bd-a6ff-475f-b882-7468e21360be",
              "leftValue": "={{ $json.output[0].status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1008,
        -400
      ],
      "id": "b086bccd-836f-47a5-a7d4-06eebdcafee2",
      "name": "If2"
    },
    {
      "parameters": {
        "sendTo": "htfsh12345@gmail.com",
        "subject": "Task Imporvement",
        "message": "Tasks successfully improved!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1680,
        -592
      ],
      "id": "c02fea32-f7b0-4806-b909-565f94327773",
      "name": "Send a message",
      "webhookId": "f25047e2-7181-40b5-aab7-d05495d4dbe4",
      "credentials": {
        "gmailOAuth2": {
          "id": "x4ccJ3mA4SGIuqo1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "htfsh12345@gmail.com",
        "subject": "Model Error!!",
        "message": "Kindly Check your model!",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1456,
        -400
      ],
      "id": "34b3513f-8eb0-4507-a511-776200a2c074",
      "name": "Send a message1",
      "webhookId": "8247d05a-ebae-48f3-a62c-5fd0cdbbde5b",
      "credentials": {
        "gmailOAuth2": {
          "id": "x4ccJ3mA4SGIuqo1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "errorMessage": "Problem with OpenAI  model"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1680,
        -400
      ],
      "id": "7c44d668-313c-4c87-945f-b2568e51b912",
      "name": "Model Problem"
    },
    {
      "parameters": {
        "errorMessage": "Tokens not found"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1232,
        -304
      ],
      "id": "f1ef7cdd-cdc4-4999-b5cd-bfe6193c235d",
      "name": "Token Issue"
    },
    {
      "parameters": {
        "errorMessage": "Task Doesn't Exist"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        432,
        -208
      ],
      "id": "ac22aedf-07e0-4764-95ed-f9f29e5dad54",
      "name": "Tasks dont exist"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tasks dont exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Token Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        [
          {
            "node": "Model Problem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "27d635c4-35f0-4205-8f0c-0c02f83b9d5a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9d4e41ac00f47d48db81622a42173403a2c3150258a9fa8d8d121acaeccc607f"
  },
  "id": "vDzzADeJkpoSdP2BgQsI8",
  "tags": []
}